<!DOCTYPE html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Sample Landing Page with Components - powered by ButterCMS</title>
    <meta name="description" content="Sample Landing Page with Components - powered by ButterCMS" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/x-icon" href="butter-favicon.png"/>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/css/lineicons.css"/>
    <link rel="stylesheet" href="assets/css/main.css"/>
    <link 
		rel="preload" 
		href="assets/css/tiny-slider.css" 
		as="style" 
		onload="this.onload=null;this.rel='stylesheet'"
	  >
    <!-- No JS fallback for tiny-slider -->
    <noscript><link rel="stylesheet" href="assets/css/tiny-slider.css"></noscript>
  </head>
  <body>
    <!--[if lte IE 9]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="https://browsehappy.com/">upgrade your browser</a> to improve
        your experience and security.
      </p>
    <![endif]-->
    <%= yield %>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/polyfill.js"></script>
    <script src="assets/js/main.js"></script>
    <!-- ================= JS Index HTML only ========================= -->
    <script src="assets/js/tiny-slider.js"></script>
    <script src="assets/js/client-slider.js"></script>
    <script src="assets/js/section-menu.js"></script>
  </body>
</html>
